:root {
  --theme-hue: 70;
  --color-primary: hsl(255, 20%, 70%);
  --color-background: hsl(var(--theme-hue), 50%, 90%);
  --color-text: hsl(var(--theme-hue), 50%, 10%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(var(--theme-hue), 0%, 20%);
    --color-text: hsl(var(--theme-hue), 50%, 90%);
  }
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: sans-serif;
}

#games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1em;
  padding: 1em;
}

.game {
  background-color: var(--color-primary);
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 1em;
  font-weight: 600;
  aspect-ratio: 1 / 1;
  font-size: 2em;
  align-items: center;
}

.gamename {
  text-align: center;
}

#debug {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.5em;
  color: var(--color-text);
  background-color: var(--color-background);
  padding: 0.5em;
  border-radius: 0 0 0 1em;
  border: 1px solid var(--color-text);
}

#name {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
