.grid {
   /* Create a grid
   It has to always be 20 divs in height and 10 divs in width*/ 
   display: grid;
   grid-template-rows: repeat(20, 1fr);
   grid-template-columns: repeat(10, 1fr);
   grid-gap: 1px;
   width: 100%;
   max-width: 400px;
   background: #111;
   border-radius: 5px;
   margin: 0 auto;
   padding: 1px;
   box-sizing: border-box;
}
