.grid {
  /* Create a grid
   It has to always be 20 divs in height and 10 divs in width*/
  display: grid;
  grid-template-rows: repeat(20, 0.1fr);
  grid-template-columns: repeat(10, 0.1fr);
  max-width: 20.5em;
  background: #ffffff;
  height: 41em;
  border-radius: 0.5em;
  box-sizing: border-box;
  /* center the grid in the middle of the window*/
  justify-items: center;
  align-items: center;
  margin-left: 5em;
}

.grid-item {
  /* Style the divs inside the grid */
  background: #111;
  border: #ffffff;
  height: 1.9em;
  width: 1.9em;
  border-radius: 0.5em;
  border: 0.05em solid #ffffff;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

#subcontent {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

#subsubcontent {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  background: #111;
  border: #ffffff;
  height: 3em;
  width: 6em;
  border-radius: 0.5em;
  border: 0.05em solid #ffffff;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

p {
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
}
