:root {
  --theme-hue: 70;
  --color-primary: hsl(255, 20%, 70%);
  --color-background: hsl(var(--theme-hue), 50%, 90%);
  --color-text: hsl(var(--theme-hue), 50%, 10%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(var(--theme-hue), 0%, 20%);
    --color-text: hsl(var(--theme-hue), 50%, 90%);
  }
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: sans-serif;
}

.gamediv {
  background-color: var(--color-primary);
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 15em;
  margin: auto;
  border-radius: 3em;
  flex-direction: column;
  display: flex;
}

.gamename {
  text-align: center;
}

.gamebutton {
  border-radius: 3.6em;
  height: 12em;
  width: 12em;
  align-self: center;
  justify-content: center;
  justify-self: center;
}
